<head>
	<title>Edit Settings</title>
</head>
<body>
	<h1>Project Liger</h1>
	<form action="http://localhost:<%= port%>/user/<%= username%>/settings" method="POST">
	Meeting Title <input type="text" name="meetingTitle"> <br>
  Meeting Link <input type="text" name="meetingLink"> <br>
  Timezone <input type="text" name="timezone"> <br>
	<input type="submit" value="submit">        
   </form>
</body>